<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">À toi la liberté</h1>
      <h2 class="masthead-subheading mb-0">Tu cherches un Velib ?</h2>
      <a href="#trouver" class="btn btn-primary btn-xl rounded-pill mt-5">Trouver</a>
    </div>
  </div>
</header>