<p id="notice"><%= notice %></p>

<div align="center">
  <h1>FIND A BICYCLE AROUND YOU</h1>
</div>

<%= render "form" %>
<%= render "table" %>
<%= render "map" %>

<script language="javascript" type="text/javascript">
	setTimeout("location.reload();",360000);
</script>