<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; V.lib Finder 2020
      <a href="https://twitter.com/velib" class="text-white">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/velibmetropole" class="text-white">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://fr-fr.facebook.com/Velib.Metropole" class="text-white">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.youtube.com/user/VelibOfficiel/videos" class="text-white">
        <i class="fa fa-youtube"></i>
      </a>
    </p>
  </div>
</footer>